<button type="button" class="title-button btn" data-modal-open>
  Order Service
</button>

<!-- ##### Modal window ##### -->
<div class="modal-window-container is-hidden" data-modal>
  <div class="modal-window">
    <button class="modal-close-btn" type="button" data-modal-close>
      <svg class="icon-close" width="8" height="8">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <p class="modal-window-text">
      Leave your contacts and we will call you back
    </p>

    <form class="modal-contact-form" name="modal-contact-form">
      <div class="input-container">
        <label class="input-lable modal-lable" for="user-name">Name</label>
        <div class="input-form-thumb">
          <input
            class="modal-input-field modal-input-area"
            type="text"
            name="user-name"
            id="user-name"
          />
          <svg class="input-form-icon" width="18" height="24">
            <use href="./images/icons.svg#icon-person"></use>
          </svg>
        </div>
      </div>

      <div class="input-container">
        <label class="input-lable modal-lable" for="user-tel">Phone</label>
        <div class="input-form-thumb">
          <input
            class="modal-input-field modal-input-area"
            type="tel"
            name="user-tel"
            id="user-tel"
          />
          <svg class="input-form-icon" width="18" height="24">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
        </div>
      </div>

      <div class="input-container">
        <label class="input-lable modal-lable" for="user-email">Email</label>
        <div class="input-form-thumb">
          <input
            class="modal-input-field modal-input-area"
            type="email"
            name="user-email"
            id="user-email"
          />
          <svg class="input-form-icon" width="18" height="24">
            <use href="./images/icons.svg#icon-email"></use>
          </svg>
        </div>
      </div>

      <div class="textarea-container">
        <label class="input-lable modal-lable" for="user-comment"
          >Comment</label
        >
        <textarea
          class="modal-textarea modal-input-area"
          name="user-comment"
          rows="7"
          placeholder="Text input"
          id="user-comment"
        ></textarea>
      </div>

      <div class="user-privacy-container">
        <input
          class="visually-hidden user-privacy-checkbox"
          type="checkbox"
          name="user-privacy"
          value="true"
          id="user-privacy"
        />
        <label class="modal-lable user-privacy-content" for="user-privacy"
          ><span class="custom-checkbox">
            <svg class="custom-checkbox-icon" width="10" height="8">
              <use href="./images/icons.svg#icon-clicked-checkbox"></use>
            </svg> </span
          >I accept the terms and conditions of the
          <a class="user-privacy-link" href="">Privacy Policy</a>
        </label>
      </div>

      <button class="btn-modal-send btn" type="submit">Send</button>
    </form>
  </div>
</div>
